/* some style */

/* wood1 #f6e4ca */
/* wood2 #f1d5b9 */
/* wood3 #7d280b */

body {
    background: gray;
    color: white;
}

.table {
    /* display: table; */
    border-spacing: 6px;
}

.row {
    text-align: center;
}

.space {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    
    /* for debug labels */
    font-size: 0.5em;
    text-align: center;
    line-height: 35px;
    color: black;

    background-color: #f1d5b9; /* wood2 */
    box-shadow:inset 0px 0px 0px 0px;
    border-radius: 50%;
    min-width: 30px;
    min-height: 30px;
    width: 35px;
    height: 35px;
    vertical-align: middle;
}


.selected {
    
    /* animation: blinker 1s linear infinite; */
}

.owned {
    cursor: pointer;
}


@keyframes blinker {  
    50% { opacity: 0.3; }
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; } 
}

@keyframes fadeout {
    from { opacity: 1; }
    to {opacity: 0; }
}

.possible {
    animation: blinker 1.5s linear infinite;
    cursor: pointer;
}

.fade-in {
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

.console {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

input {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* SHADOW/GLOW TRANSITIONS */
/* Glow */
.glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}

.hvr-glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}

