
/* wood1 #f6e4ca */
/* wood2 #f1d5b9 */

body {
    background: #808080;
    color: white;
}

.page {
    text-align:center;
    min-width: 400px;
}

.hexagram {
    margin-left: auto;
    margin-right: auto;
    /* max-height: 80vh; */
    max-width: 85vh;
    /* height: 75vh; */
    /* width: 60%; */
}

.row {
    text-align: center;
    /* height: 3%; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 4px;
}

.space {
    background: #f1d5b9; /* wood2 */

    align-items: center;
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
    box-shadow: inset 0px 0px 0px 0px;

    /* keep width and padding the same */
    height: auto;
    width: 5%;
    padding-top: 5%;

    /* circular */
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.owned {
    cursor: pointer;
}


@keyframes blinker {  
    50% { opacity: 0.3; }
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; } 
}

@keyframes fadeout {
    from { opacity: 1; }
    to {opacity: 0; }
}

.possible {
    cursor: pointer;
}

.possible:hover, .possible:focus, .possible:active {
    background-color: #343434;                                      
}

.fade-in {
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

.console {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.turn-marble {
    width: 30px;
    height: 30px;

    /* circular */
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;

    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
}

input {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Glow Animations */
.glow {
    display: inline-block;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}

.hvr-glow {
    display: inline-block;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}

.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}

/* Pulse Animations */
@-webkit-keyframes pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.pulse {
    display: inline-block;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
